@tailwind base;
@tailwind components;
@tailwind utilities;

//this is the part which changes the entire app background
:root {
  --background: #324124; /*this changes the background main */ 
  --foreground: #FFFFFF;
}

//light mode is default
@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

//changes the color of the body
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
